/vendor/
composer.phar
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

/web/sites/*/settings*.php
/web/sites/*/services*.yml
/web/sites/*/files/

/.drush/
.drush-lock.json
.phpunit.result.cache
/.idea/
/.vscode/
/node_modules/
